body {
  background-color: #f3e6e3;
}
.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
}
.flex--3--cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 5rem;
}

.wrapper--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: center;
  row-gap: 1.8rem;
  column-gap: 1.8rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.nav--bar {
  padding: 1rem 3rem 0 3rem;
  height: 3rem;
}

.project--icon {
  font-size: 10rem;
  line-height: 1;
  fill: black;
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.project--icon__svg {
  /* display: block; */
  margin: 0;
}

.img--header {
  width: 80%;
  height: 80%;
}

.center_img {
  text-align: center;
}

.generic__text {
  text-align: justify;
}

.main-title {
  color: orange;
  font-size: 6em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  font-weight: 700;
}

.section-projects {
  margin: 0 8rem 0 8rem;
}

.btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  color: #f46d0e;
}

.btn,
.btn:link,
.btn:visited,
.btn:hover,
.btn:active {
  text-decoration: none;
}

.hero {
  padding: 0rem 0 6rem 0;
}

.section-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: darkorange;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.project {
  width: 25%;
  background-color: orange;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100px;
  line-height: 100px;
  margin: auto;
  text-wrap: wrap;
  text-decoration: none;
}
